{% extends '::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        {% include "PesFrontBundle::navbar.html.twig" %}

        <div class="col-md-2">
            {% block asideleft %}
                {{ render(controller("PesFrontBundle:front:lastNews", {'nombre': 5})) }}
            {% endblock %}
        </div>
		
		<div class="col-md-8">
			{% block section %}{% endblock %}
		</div>
        
		<div class="col-md-2">
            {% block asideright %}
                {{ render(controller("PesFrontBundle:front:plannedCompetitions", {'nombre': 5})) }}
            {% endblock %}
        </div>
    </div>
{% endblock %}