{% extends 'PesFrontBundle::layout.html.twig' %}

{% block section %}
<div class="panel panel-default">
	<div class="panel-heading">Acceuil</div>
	<div class="panel-body">
		<h2>Bienvenue sur <p class="lead">Prono E sport</p></h2>
	</div>
</div>


{% endblock %}