<div class="panel panel-default">
    <div class="panel-heading">Matchs prévus</div>
    <ul class="list-group">
        {%  for competition in competitions %}
            <li class="list-group-item">
                <a href="{{ path('pes_front_voir_competition', {'id': competition.id}) }}">{{ competition.nom }}</a>
            </li>
        {% endfor %}
    </ul>
</div>